ion-app ion-content.page-content-container{

}
.page-content-container .page-content-padding{
    padding: 20px;
    padding-bottom: 160px;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}
.page-content-container .header-placeholder{
    height: 88px;
}
.page-content-container.full-width .page-content-padding{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}