.card{
    position: relative; 
    width: 100%;
    margin: 0 auto;
    aspect-ratio: 16/10;
    max-width: 400px;
}
.cardContent{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 37px;
    overflow: hidden;
}
.cardContent h3{
    color: #fff;
    margin: 10px 15px;
    font-size: 1.75rem;
    text-shadow: var(--shadow-small);
}
.bottomShadow{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: linear-gradient(transparent, #000);
    border-radius: 0 0 37px 37px;
    opacity: 0.3;
}
.cardOverlay{
    position: absolute;
    z-index: 2;
    inset: 0;
    border-radius: 37px;
    background-color: #00000022;
}
.cardLink{
    position: absolute;
    inset: 0;
}