body #root, body{
    box-sizing: border-box;
    font-family: var(--font-primary);
    background-color: var(--ion-background-color);
    color: var(--ion-text-color);
}
body #root h1,h2,h3,h4,h5{
    font-family: var(--font-secondary);
}
a{
    text-decoration: none;
    outline: none;
    color: inherit;
}
button{
    font-family: inherit;
}
body #root p{
    font-family: var(--font-primary);
}

.error{
    color: var(--ion-color-danger);
}